\SuperSmashBros\[Oo]bj
\SuperSmashBros\[Bb]in
\[Dd]oc\*.aux
\[Dd]oc\*.log
\[Dd]oc\*.out
\[Dd]oc\*.toc
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad